<div class=backround>
  <div class="page-wrap">
    <div class="page">
      <div class="page-content">
        <form class="well form-horizontal" action=" " method="post"  id="contact_form">
          <fieldset>
            <!-- Form Name -->
            <div class="form-title">
              <legend><div style="text-align: center;"><h2><b>Registration Form</b></h2></div></legend><br>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar progress-bar-striped" role="progressbar" [style.width]="((this.page-1)/this.numPages)*100+'%'" aria-valuenow="((this.page-1)/this.numPages)*100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="form-itself">
              <label>Name</label>
              <div class="form-row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" id="inputEmail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" [(ngModel)]="inputEmail" (focus)="email.active = true" (blur)="email.active = false" name="inputEmail" #email="ngModel">
                  <div *ngIf="email.errors && (email.dirty || email.touched) && !email.active" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                      Email is required
                    </div>
                    <div *ngIf="email.invalid && !email.errors.required">
                      That email is invalid
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label for="inputPhone">Phone</label>
                  <input type="text" name="zipcode" id="inputPhone" placeholder="555-555-5555" maxlength="10" inputmode="numeric" pattern="[0-9]*" digitOnly class=form-control [(ngModel)]="inputPhone" #phone="ngModel">
                  <div *ngIf="phone.value && phone.value.length!=10" class="alert alert-danger">
                    That phone number is invalid
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail2" placeholder="Enter email">
              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col">
              <div *ngIf="this.page!=1">
                <button type="button" class="btn btn-secondary" (click)="prevPage()">Back</button>
              </div>
            </div>
            <div class="col text-right">
              <div *ngIf="this.page!=this.numPages; else submit">
                <button type="button" class="btn btn-primary .navbar-right" (click)="nextPage()">Next</button>
              </div>
              <ng-template #submit>
                <button type="button" class="btn btn-primary .navbar-right" (click)="submit()">Submit</button>
              </ng-template>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
