<div class=backround>
  <div class="page-wrap">
    <div class=page>
      <div class="container">

        <form class="well form-horizontal" action=" " method="post"  id="contact_form">
          <fieldset>

            <!-- Form Name -->
            <div class="form-title">
              <legend><div style="text-align: center;"><h2><b>Registration Form</b></h2></div></legend><br>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{stu}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class=form-itself>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">First Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group-btn">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><span octicon=person></span></span>
                      <input name="first_name" placeholder="First Name" class="form-control"  type="text">
                      <input name="first_name" placeholder="First Name" class="form-control"  type="text">
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label">Department / Office</label>
                <div class="col-md-4 selectContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select name="department" class="form-control selectpicker">
                      <option value="">Select your Department/Office</option>
                      <option>Department of Engineering</option>
                      <option>Department of Agriculture</option>
                      <option >Accounting Office</option>
                      <option >Tresurer's Office</option>
                      <option >MPDC</option>
                      <option >MCTC</option>
                      <option >MCR</option>
                      <option >Mayor's Office</option>
                      <option >Tourism Office</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
