<div class=backround>
  <div class="page-wrap">
    <div class="page">
      <div class="page-content">
        <form class="well form-horizontal" action=" " id="contact_form">
          <fieldset>
            <!-- Form Name -->
            <img src="./assets/img/hackphslogo2019.svg" alt="hackPHS" class="center">
            <div class="form-title">
              <legend><div style="text-align: center;"><h2><b>Registration Form</b></h2></div></legend><br>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar progress-bar-striped" role="progressbar" [style.width]="((this.page)/this.numPages)*100+'%'" aria-valuenow="((this.page)/this.numPages)*100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="form-itself">
              <div [className]="this.page==1 ? '':'hide-completely'">
                <div class=containter>
                  <h3>Demographic Info</h3>
                  <label for="inputFirstName" class="req-label-text">Name</label>
                  <div class="form-row">
                    <div class="col">
                      <input type="text" class="form-control capitalize" placeholder="First Name" id="inputFirstName" required [(ngModel)]="inputFirstName" (focus)="firstName.active = true" (blur)="firstName.active = false" name="inputFirstName" #firstName="ngModel">
                      <div *ngIf="((firstName.errors && firstName.errors.required) || (lastName.errors && lastName.errors.required)) && ((this.attemptNext || firstName.dirty || firstName.touched || lastName.dirty || lastName.touched) && !(firstName.active || lastName.active)) && this.page==1" class="alert alert-danger">
                        Name is required
                      </div>
                    </div>
                    <div class="col">
                      <input type="text" class="form-control capitalize" placeholder="Last Name" id="inputLastName" required [(ngModel)]="inputLastName" (focus)="lastName.active = true" (blur)="lastName.active = false" name="inputLastName" #lastName="ngModel">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md full-width-dropdown">
                      <label for="inputEmail" class="req-label-text">Email</label>
                      <input class="form-control" type="text" [placeholder]="this.authService.userEmail" disabled>
                    </div>
                    <div class="col-md full-width-dropdown">
                      <div class="row phone-header">
                        <div class="col-3 padding-right-0">
                          <label for="inputPhone1" class="req-label-text">Phone</label>
                          <input (input)="autoTab($event,'inputPhone2')" type="tel" name="inputPhone1" id="inputPhone1" placeholder="555" maxlength="3" required inputmode="numeric" (focus)="phone1.active = true" (blur)="phone1.active = false" pattern="[0-9]{3}" digitOnly class=form-control [(ngModel)]="inputPhone1" #phone1="ngModel">
                        </div>
                        <div class="phone-dash">-</div>
                        <div class="col-3 padding-0">
                          <input (input)="autoTab($event,'inputPhone3')" type="tel" name="inputPhone2" id="inputPhone2" placeholder="555" maxlength="3" required inputmode="numeric" (focus)="phone2.active = true" (blur)="phone2.active = false" pattern="[0-9]{3}" digitOnly class=form-control [(ngModel)]="inputPhone2" #phone2="ngModel">
                        </div>
                        <div class="phone-dash">-</div>
                        <div class="col-4 padding-0">
                          <input type="tel" name="inputPhone3" id="inputPhone3" placeholder="5555" maxlength="4" required inputmode="numeric" (focus)="phone3.active = true" (blur)="phone3.active = false" pattern="[0-9]{4}" digitOnly class=form-control [(ngModel)]="inputPhone3" #phone3="ngModel">
                        </div>
                      </div>
                      <div *ngIf="this.page==1 && (phone1.errors || phone2.errors || phone3.errors) && (this.attemptNext || phone1.dirty || phone1.touched || phone2.dirty || phone2.touched || phone3.dirty || phone3.dirty) && !(phone1.active || phone2.active || phone3.active)">
                        <div *ngIf="(phone1.errors && phone1.errors.required) || (phone2.errors && phone2.errors.required) || (phone3.errors && phone3.errors.required)" class="alert alert-danger">
                          Phone number is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6">
                      <label for="inputPhone1" class="req-label-text">Date of Birth</label>
                      <div class="row phone-header">
                        <div class="col-3">
                          <input type="tel" name="inputMonth" id="inputMonth" aria-described-by="month-help" placeholder="3" maxlength="12" required pattern="([1-9]|1[0-2])" inputmode="numeric" (focus)="month.active = true" (blur)="month.active = false" digitOnly class=form-control [(ngModel)]="inputMonth" #month="ngModel">
                          <p id="month-help" class="form-text text-muted">
                            Month
                          </p>
                        </div>
                        <div class="col-3">
                          <input type="tel" name="inputDay" id="inputDay" aria-described-by="day-help" placeholder="25" maxlength="2" required pattern="([1-9]|[12][0-9]|3[01])" inputmode="numeric" (focus)="day.active = true" (blur)="day.active = false" digitOnly class=form-control [(ngModel)]="inputDay" #day="ngModel">
                          <p id="day-help" class="form-text text-muted">
                            Day
                          </p>
                        </div>
                        <div class="col-4">
                          <input type="tel" name="inputYear" id="inputYear" aria-described-by="year-help" placeholder="2003" maxlength="4" required pattern="(19[4-8][0-9]|199[0-9]|200[0-9]|201[0-9])" inputmode="numeric" (focus)="year.active = true" (blur)="year.active = false" digitOnly class=form-control [(ngModel)]="inputYear" #year="ngModel">
                          <p id="day-help" class="form-text text-muted">
                            Year
                          </p>
                        </div>
                      </div>
                      <div *ngIf="this.page==1 && (this.attemptNext || month.dirty || month.touched || day.dirty || day.touched || year.dirty || year.dirty) && !(month.active || day.active || year.active)">
                        <div *ngIf="(month.errors || day.errors || year.errors)">
                          <div *ngIf="(month.errors && month.errors.required) || (day.errors && day.errors.required) || (year.errors && year.errors.required); else notrequiredyear" class="alert alert-danger">
                            Date of Birth is required
                          </div>
                        </div>
                        <div *ngIf="!validateDate(month,day,year)" class="alert alert-danger">
                          That date is invalid
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                          <label for="latinoNo" class="req-label-text full-width-dropdown">Are you Spanish/Hispanic/Latino in origin?</label>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="latino" id="latinoNo" value="No" [(ngModel)]="latino">
                            <label class="form-check-label" for="latinoNo">
                              No
                            </label>
                          </div>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="latino" id="latinoYes" value="Yes" [(ngModel)]="latino">
                            <label class="form-check-label" for="latinoYes">
                              Yes
                            </label>
                          </div>
                          <div *ngIf="this.attemptNext && this.page==1 && !this.latino" class="alert alert-danger">
                            You must select an option
                          </div>
                    </div>
                  </div>
                  <div class="form-row">

                  </div>
                  <div class="form-row">
                    <div class="col-md-6 full-width-dropdown">
                      <label for="genderMale" class="req-label-text">Gender</label>
                      <!-- You have to hack around the radios not updating the entire thing's pristine status (but they do touched????) Angular requires non standard syntax-->
                      <div class="form-check" id="gender">
                        <input class="form-check-input" type="radio" id="genderMale" value="Male" name="pickGender" [(ngModel)]="pickGender" #gender1=ngModel>
                        <label class="form-check-label" for="genderMale">
                          Male
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" id="genderFemale" value="Female" name="genderFemale" [(ngModel)]="pickGender" #gender2=ngModel>
                        <label class="form-check-label" for="genderFemale">
                          Female
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" id="genderNonBin" value="Non-Binary" name="genderNonBin" [(ngModel)]="pickGender" #gender3=ngModel>
                        <label class="form-check-label" for="genderNonBin">
                          Non-Binary
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" id="genderPrefNot" value="Prefer Not to Say" name="genderPrefNot" [(ngModel)]="pickGender" #gender4=ngModel>
                        <label class="form-check-label" for="genderPrefNot">
                          Prefer Not to Say
                        </label>
                      </div>
                      <div *ngIf="this.page==1 && this.attemptNext && gender1.pristine && gender2.pristine && gender3.pristine && gender4.pristine" class="alert alert-danger">
                        You must select an option
                      </div>
                    </div>
                    <div div class="col-md-6 full-width-dropdown">
                      <label for="race-ethnicity" class="req-label-text">Race/Ethnicity (Select all that apply)</label>
                      <select class="selectpicker" data-live-search="true" id="race-ethnicity" name="race-ethnicity" multiple data-width="100%" [(ngModel)]="race-ethnicity" #race=ngModel>
                        <option>White</option>
                        <option>Black or African American</option>
                        <option>American Indian or Alaskan Native</option>
                        <option>Asian</option>
                        <option>Native Hawaiian or other Pacific Islander</option>
                        <option>Prefer Not To Say</option>
                      </select>
                      <div *ngIf="this.page==1 && this.attemptNext && (!race.value || race.value.length==0)" class="alert alert-danger">
                        You must select an option
                      </div>
                      <div *ngIf="this.page==1 && race.value && race.value.includes('Prefer Not To Say') && race.value.length>1" class="alert alert-danger">
                        You cannot select both Prefer Not to Say and something else
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div [className]="school.value=='My school isn\'t here' ? 'col-md-6 full-width-dropdown' : 'col-12 full-width-dropdown'">
                      <label for="schoolInput" class="req-label-text">School</label>
                      <select class="selectpicker" data-live-search="true" id="schoolInput" title="Nothing Selected" name="schoolInput" data-width="100%" [(ngModel)]="schoolInput" #school=ngModel>
                        <optgroup label="Other">
                          <!-- I add all the attributes to this so that it doesn't go away during search-->
                          <option [attr.data-tokens]="this.schoolList.toString()">My school isn't here</option>
                        </optgroup>
                        <optgroup label="Schools">
                          <option *ngFor="let item of this.schoolList;" [attr.data-tokens]="item.slice(1).toString()">{{item[0]}}</option>
                        </optgroup>
                      </select>
                      <div *ngIf="this.page==1 && this.attemptNext && school.pristine" class="alert alert-danger col-12">
                        School is required
                      </div>
                    </div>
                    <div [className]="school.value=='My school isn\'t here' ? ' col-md-6 full-width-dropdown' : 'hide-completely col-md-6 full-width-dropdown'">
                      <label for="schoolInputText" class="req-label-text">Enter your school here</label>
                      <input type="text" class="form-control" placeholder="School" id="schoolInputText" required [(ngModel)]="schoolInputText" (focus)="schoolText.active = true" (blur)="schoolText.active = false" name="schoolInputText" #schoolText="ngModel">
                    </div>
                  </div>
                  <div *ngIf="this.page==1 && (school.value=='My school isn\'t here' && schoolText.errors && (this.attemptNext || schoolText.dirty || schoolText.touched) && !schoolText.active)" class="alert alert-danger">
                    You must either pick or enter a school
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 full-width-dropdown">
                      <label for="studyLevel" class="req-label-text">Current Level Of Study</label>
                      <select class="selectpicker" id="studyLevel" title="Nothing Selected" name="studyLevel" data-width="100%" [(ngModel)]="studyLevel" #study=ngModel>
                        <option>Below High School</option>
                        <option>High School</option>
                        <option>Undergraduate</option>
                        <option>Graduate</option>
                      </select>
                      <div *ngIf="this.page==1 && this.attemptNext && study.pristine" class="alert alert-danger">
                        You must select a level of study
                      </div>
                    </div>
                    <div class="col-md-6 full-width-dropdown">
                      <label for="graduationYear" class="req-label-text">Expected Graduation Year</label>
                      <select class="selectpicker" id="graduationYear" name="graduationYear" title="Nothing Selected" data-width="100%" [(ngModel)]="graduationYear" #graduation=ngModel>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>After 2023</option>
                      </select>
                      <div *ngIf="this.page==1 && this.attemptNext && graduation.pristine" class="alert alert-danger">
                        You must select a graduation year
                      </div>
                    </div>
                  </div>
                  <div class=form-row>
                    <div class="col-md-4 minheight86">
                      <label for="haveGithubNo" class="full-width-dropdown">Do you have a Github?</label>
                      <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="haveGithub" id="noHaveGithub" value="No" [(ngModel)]="haveGithub">
                        <label class="form-check-label" for="noHaveGithub">
                          No
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="haveGithub" id="yesHaveGithub" value="Yes" [(ngModel)]="haveGithub">
                        <label class="form-check-label" for="yesHaveGithub">
                          Yes
                        </label>
                      </div>
                    </div>
                    <div [className]="this.haveGithub=='Yes' ? ' col-md-8 full-width-dropdown' : 'hide-completely col-md-8 full-width-dropdown'">
                      <label for="githubLinkInput" class="req-label-text">Paste the link to your profile here</label>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="https://github.com/hackPrincetonHS" id="githubLinkInput" pattern="http(s)?:\/\/(www\.)?github\.com\/[A-z0-9_-]+\/?" required maxlength="200" [(ngModel)]="githubLinkInput" (focus)="githubLink.active = true" (blur)="githubLink.active = false" name="githubLinkInput" #githubLink="ngModel">
                        <button type="button" class="btn btn-secondary" (click)="checkGithubProfile(githubLink)"><u class="dotted">Validate Profile</u> <fa-icon [icon]="githubLink.loading ? ['fas', 'spinner'] : (githubLink.profileData!=githubLink.value || githubLink.pristine) ? ['fas', 'minus'] : githubLink.badProfile ? ['fas', 'times'] : ['fas', 'check']" [spin]="githubLink.loading" [styles]="!githubLink.loading && !(githubLink.profileData!=githubLink.value || githubLink.pristine) ? githubLink.badProfile ? {'color': 'red'} : {'color': '7FFF00'} : ''"></fa-icon></button>
                      </div>
                      <div *ngIf="this.page==1 && (this.haveGithub=='Yes' && (this.attemptNext || githubLink.dirty || githubLink.touched || this.validateClicked) && !githubLink.active)">
                        <div *ngIf="githubLink.errors && githubLink.errors.required" class="alert alert-danger">
                          Please enter your profile
                        </div>
                        <div *ngIf="!(githubLink.errors && githubLink.errors.required) && ((githubLink.errors && githubLink.errors.pattern && !githubLink.errors.required) || githubLink.badProfile)" class="alert alert-danger">
                          That is not a valid github profile
                        </div>
                        <div *ngIf="!(githubLink.errors && !githubLink.errors.required) && !((githubLink.errors && githubLink.errors.pattern) || githubLink.badProfile || githubLink.loading) && githubLink.profileData!=githubLink.value" class="alert alert-danger">
                          You must click the button to validate your profile
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class=form-row>
                    <div class="col-md-4 minheight86">
                      <label for="haveResumeNo" class="full-width-dropdown">Do you have a Resume?</label>
                      <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="haveResume" id="noHaveResume" value="No" [(ngModel)]="haveResume">
                        <label class="form-check-label" for="noHaveResume">
                          No
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="haveResume" id="yesHaveResume" value="Yes" [(ngModel)]="haveResume">
                        <label class="form-check-label" for="yesHaveResume">
                          Yes
                        </label>
                      </div>
                    </div>
                    <div [className]="haveResume=='Yes' ? ' col-md-8 full-width-dropdown' : 'hide-completely col-md-8 full-width-dropdown'">
                      <label for="githubLinkInput" class="req-label-text">Please upload your resume</label>
                      <input type="file" class="form-control-file" id="resumeFile" (change)="this.resumeFile=$event.target.files[0]">
                    </div>
                  </div>
                  <div *ngIf="this.page==1 && haveResume=='Yes' && this.attemptNext && !this.resumeFile" class="alert alert-danger">
                    Please pick a file
                  </div>
                  <div *ngIf="this.resumeFile && this.resumeFile.type=='application/pdf' && this.resumeFile.size>2000000" class="alert alert-danger">
                    The size limit is 2MB
                  </div>
                  <div *ngIf="this.resumeFile && this.resumeFile.type!='application/pdf'" class="alert alert-danger">
                    The file must be PDF
                  </div>
                </div>
                <hr class="separator">
                <div class="containter">
                  <h3>Logistical Info</h3>
                  <div class="form-row">
                    <div class="col-md-6 full-width-dropdown">
                      <label for="shirtSize" class="req-label-text">T-Shirt Size</label>
                      <select class="selectpicker" id="shirtSize" title="Nothing Selected" data-width=100% name="shirtSize" title="T-Shirt Size" [(ngModel)]="shirtSize" #tshirt=ngModel>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                        <option>XXL</option>
                      </select>
                      <div *ngIf="this.page==1 && this.attemptNext && tshirt.pristine" class="alert alert-danger">
                        You must select a T-Shirt size
                      </div>
                    </div>
                    <div class="col-md-6 full-width-dropdown">
                      <label for="dietaryRestrictions" class="req-label-text">Dietary Restrictions</label>
                      <select class="selectpicker" multiple id="dietaryRestrictions" data-header="Select all that apply" name="dietaryRestrictions" data-width="100%" [(ngModel)]="dietaryRestrictions" #dietary=ngModel>
                        <option>None</option>
                        <option data-divider="true"></option>
                        <option>Lactose intolerant or milk allergies</option>
                        <option>Vegetarian</option>
                        <option>Ovo-Vegetarian</option>
                        <option>Lacto-Vegetarian</option>
                        <option>Vegan</option>
                        <option>Religious dietary practices</option>
                        <option>Diabetic diet</option>
                        <option>Gluten Free</option>
                        <option>Other</option>
                      </select>
                      <div *ngIf="this.page==1 && this.attemptNext && (!dietary.value || dietary.value.length==0)" class="alert alert-danger">
                        You must select an option
                      </div>
                      <div *ngIf="this.page==1 && dietary.value && dietary.value.includes('None') && dietary.value.length>1" class="alert alert-danger">
                        You cannot select both none and something else
                      </div>
                      <div *ngIf="this.page==1 && dietary.value && dietary.value.includes('Other')" class="alert alert-info">
                        Please explain in the special accomadations box below
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 minheight110">
                      <label for="usingHardwareNo" class="full-width-dropdown">Do you expect to be using hardware for your hack?</label>
                      <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="usingHardware" id="usingHardwareNo" value="No" [(ngModel)]="usingHardware">
                        <label class="form-check-label" for="usingHardwareNo">
                          No
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="usingHardware" id="usingHardwareYes" value="Yes" [(ngModel)]="usingHardware">
                        <label class="form-check-label" for="usingHardwareYes">
                          Yes
                        </label>
                      </div>
                    </div>
                    <div [className]="usingHardware=='Yes' ? 'col-md-8 full-width-dropdown' : 'hide-completely'">
                      <label for="hardwareInput" class="req-label-text">Hardware</label>
                      <select class="selectpicker" multiple data-live-search="true" id="hardwareInput" name="hardwareInput" data-width="100%" [(ngModel)]="hardwareInput" #hardware=ngModel>
                        <optgroup label="Other">
                          <!-- I add all the attributes to this so that it doesn't go away during search-->
                          <option [attr.data-tokens]="this.hardwareList.toString()">Other</option>
                        </optgroup>
                        <optgroup label="Hardware">
                          <option *ngFor="let item of this.hardwareList;" [attr.data-tokens]="item.slice(1).toString()">{{item[0]}}</option>
                        </optgroup>
                      </select>
                      <div *ngIf="this.page==1 && usingHardware=='Yes' && this.attemptNext && hardware.pristine" class="alert alert-danger col-12">
                        Please pick at least one option
                      </div>
                    </div>
                  </div>
                  <div [className]="usingHardware=='Yes' ? 'form-row' : 'form-row hide-completely'">
                    <div [className]="hardware.value && hardware.value.includes('Other') ? ' col-md-12 full-width-dropdown' : 'hide-completely col-md-12 full-width-dropdown'">
                      <label for="hardwareInputText">List everything else here</label>
                      <input type="text" class="form-control" placeholder="FPGA" id="hardwareInputText" required [(ngModel)]="hardwareInputText" (focus)="hardwareText.active = true" (blur)="hardwareText.active = false" name="hardwareInputText" #hardwareText="ngModel">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="specialAccomadations">Please list any special accomadations you may require (e.g. late arrival, early departure)</label>
                    <textarea class="form-control" id="specialAccomadations" name="specialAccomadations" rows="3" [(ngModel)]="specialAccomadations" #accomadations=ngModel></textarea>
                  </div>
                </div>
              </div>


              <div [className]="this.page==2 ? '':'hide-completely'">
                <p>
                  I authorize you to share my application/registration information for event administraion, ranking, MLH administration, pre- and post-event informational e-mails, and occasional messages about hackathons in-line with the MLH Privacy Policy, <a target="_blank" href="https://mlh.io/privacy">https://mlh.io/privacy</a>. I further agree to the terms of both the MLH Contest Terms and Conditions, <a target="_blank" href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions">https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions</a>, and the MLH Privacy Policy, <a target="_blank" href="https://mlh.io/privacy">https://mlh.io/privacy</a>.
                </p>
                <div class="custom-control custom-switch bottom-div">
                  <input type="checkbox" class="custom-control-input" id="termsDataSharing" name="termsDataSharing" [(ngModel)]="termsDataSharing" #dataSharing=ngModel>
                  <label class="custom-control-label" for="termsDataSharing">Yes!</label>
                </div>
                <div *ngIf="this.page==2 && this.attemptNext && !dataSharing.value" class="alert alert-danger">
                  You must agree to the data policy
                </div>
                <p>
                  By registering for hackPHS, you agree to follow the MLH Code of Conduct, and for hackPHS to use your information as described in the MLH Privacy Policy.
                </p>
                <div class="custom-control custom-switch bottom-div">
                  <input type="checkbox" class="custom-control-input" id="termsCodeOfConduct" name="termsCodeOfConduct" [(ngModel)]="termsCodeOfConduct" #codeOfConduct=ngModel>
                  <label class="custom-control-label" for="termsCodeOfConduct">Yes!</label>
                </div>
                <div *ngIf="this.page==2 && this.attemptNext && !codeOfConduct.value" class="alert alert-danger">
                  You must agree to follow the Code of Conduct
                </div>
              </div>


              <div [className]="this.page==3 ? '':'hide-completely'">
                <div class="container">
                  <label for="satisfactionRange">How was your experience with this survey?</label>
                  <input type="range" class="custom-range" min="0" max="100" step="1" id="satisfactionRange" name="satisfactionRange" [(ngModel)]="satisfactionRange" #satisfaction=ngModel>
                  <div class="row bottom-div">
                    <div class="col-4 align-left">Extremely Bad</div>
                    <div class="col-4 align-center">Average</div>
                    <div class="col-4 align-right">Extremely Good</div>
                  </div>
                  <div class="form-group">
                    <label for="questionsComments">Do you have any questions/comments about this form or anything else?</label>
                    <textarea class="form-control" id="questionsComments" name="questionsComments" rows="3" [(ngModel)]="questionsComments" #comments=ngModel></textarea>
                  </div>
                </div>
              </div>


            </div>

          </fieldset>
          <div class="row">
            <div class="col">
              <div *ngIf="this.page!=1">
                <button type="button" class="btn btn-secondary" (click)="prevPage()">Back</button>
              </div>
            </div>
            <div class="col text-right">
              <div *ngIf="this.page!=this.numPages; else submit">
                <button type="button" class="btn btn-primary .navbar-right" (click)="nextPage()">Next</button>
              </div>
              <ng-template #submit>
                <button *ngIf="haveResume!='Yes'" type="button" class="btn btn-primary .navbar-right" (click)="submitting();">Submit</button>
                <button  *ngIf="haveResume=='Yes'" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal" (click)="submittingWithFile();">
                  Submit
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Uploading resume...</h5>
                      </div>
                      <div class="modal-body">
                        <div class="progress">
                          <div class="progress-bar progress-bar progress-bar-striped" role="progressbar" [style.width]="this.uploadPercentage+'%'" aria-valuenow="this.uploadPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
