.page-wrap {
     padding-top: 100px;
     padding-bottom: 100px;
     max-width: 800px;
     margin: 0 auto;
}

.backround {
  overflow-y: auto;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  background-color: rgba(204,204,204,1);
}
.page {
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.2);
  box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.2);

}
.form-title {
  padding-top: 10px
}
.form-itself {
  padding-top: 10px
}
.buttons {
  padding-top:30px
}
.rightJustified {
  margin-left:auto; margin-right:0;
}
.page-content {
  padding: 25px 25px;
}
.phone-header {
  display: flex;
  align-items: flex-end;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.padding-right-0{
    padding-right:0;
}
.phone-dash{
  font-size: 1rem;
  padding: 0.5rem 0.4rem;
  line-height: 1.5;
}
.align-to-text{
  margin-top: 0.5rem;
  padding-top: 1.5rem;
}
.req-label-text:after{
    content:" *" ;
    color:red;
}
.full-width-dropdown{
  width:100%;
  margin-bottom: 1rem;
}
.hide-completely{
  display: none !important;
}
.half-width{
  width:30% !important;
}
.greeniconcolor{
  color:#80f442;
}
.rediconcolor{
  color:red;
}
.minheight86{
  min-height: 86px;
}
