<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand">hackPHS-clipboard</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" (click)="dashboard()">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" style="cursor: pointer">Teams</a>
      </li>
    </ul>
  </div>
  <div *ngIf="authService.isLoggedIn" class="navbar-header navbar-right pull-right">
    <ul class="nav navbar-nav navbar-right">
      <li> <button class="btn btn-outline-success my-2 my-sm-0" (click)="authService.logout()"a>Log Out</button></li>
    </ul>
  </div>
</nav>
