<div class="backround">
  <div class="wrapper fadeInDown">
    <div *ngIf="this.badLoginAlert.value" class="alert alert-danger">
      Invalid username/password
    </div>
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="./assets/img/hackphslogo2019.svg" id="icon" alt="hackPHS" />
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" #userEmail placeholder="login" autofocus>
        <input type="password" id="password" class="fadeIn third" name="login" #userPassword placeholder="password">
        <input type="submit" (click)="authService.login(userEmail.value, userPassword.value, this.badLoginAlert)" class="fadeIn fourth login" value="Log In">
        <input type="submit" class="fadeIn fifth register" value="Register">

      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>

    </div>
  </div>
</div>
