<div class="content">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Profile</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label>First Name</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'First' : ''" [value]="this.loaded ? this.userData.firstName : ''">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="req-label-text">Last Name</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'Last' : ''" [value]="this.loaded ? this.userData.lastName : ''">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm">
                  <div class="form-group">
                    <label>Email</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'Email' : ''" [value]="this.loaded ? this.authService.userEmail : ''">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-group">
                    <label>Phone</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'Phone' : ''" [value]="this.loaded ? this.userData.phone : ''">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Date of Birth</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'D.O.B' : ''" [value]="this.loaded ? formatDate() : ''">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm">
                  <div class="form-group">
                    <label>Gender</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'Gender' : ''" [value]="this.loaded ? this.userData.gender : ''">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-group">
                    <label>Race/Ethnicity</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'Ethnicity' : ''" [value]="this.loaded ? this.arrayAsString(this.userData.ethnicity) : ''">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm">
                  <div class="form-group">
                    <label>School</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'School' : ''" [value]="this.loaded ? this.userData.school : ''">
                  </div>
                </div>
                <div *ngIf="userData.schoolNotInList" class="col-sm align-to-text">
                  We will contact you by email to confirm your school
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm">
                  <div class="form-group">
                    <label>Level Of Study</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'Level of Study' : ''" [value]="this.loaded ? this.userData.studyLevel : ''">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-group">
                    <label>Expected Graduation Year</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'Graduation Year' : ''" [value]="this.loaded ? this.userData.graduationYear : ''">
                  </div>
                </div>
              </div>
              <!--TODO: add copy button to github link-->
              <div *ngIf="!this.loaded || this.userData.githubLink || this.userData.hasResume" class="form-row">
                <div *ngIf="!this.userData.isFullyLoggedIn || this.userData.githubLink" class="col-md">
                  <div class="form-group">
                    <label>Github Profile</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <div class="input-group">
                      <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'Github Link' : ''" [value]="this.loaded ? this.userData.githubLink : ''">
                      <a [href]="this.userData.githubLink" target="_blank">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2"><fa-icon class='ng-fa-icon' [icon]="['fas', 'external-link-alt']"></fa-icon></span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md" *ngIf="!this.userData.loaded || this.userData.hasResume">
                  <div class="form-group">
                    <label>View Resume</label>
                    <fa-icon id="resume-icon" class='ng-fa-icon right-icon' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.showingResumeLink ? 'Resume Link' : ''" [value]="this.showingResumeLink ? this.resumeLink : ''">
                  </div>
                </div>
              </div>
              <hr class="seperator">
              <div class="form-row">
                <div class="col-sm">
                  <div class="form-group">
                    <label>T-Shirt Size</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'Shirt Size' : ''" [value]="this.loaded ? toFullSizeWord(this.userData.shirtSize) : ''">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-group">
                    <label>Dietary Restrictions</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'Restriction' : ''" [value]="this.loaded ? this.arrayAsString(this.userData.dietaryRestrictions) : ''">
                  </div>
                </div>
              </div>
              <div *ngIf="this.userData.hardware || this.userData.hardwareOther" class="form-row">
                <div class="col-sm">
                  <div class="form-group">
                    <label>Listed Hardware:</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'Hardware' : ''" [value]="this.loaded ? arrayAsString(this.userData.hardware) : ''">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-group">
                    <label>Extra Hardware:</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <input type="text" class="form-control" disabled [placeholder]="this.loaded ? 'Other Hardware' : 'None'" [value]="this.loaded ? this.userData.hardwareOther : ''">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm">
                  <div class="form-group">
                    <label>Special Accomdations</label>
                    <fa-icon (click)="edit($event)" class='ng-fa-icon right-icon mouse-hover' [icon]="['fas', 'pen']"></fa-icon>
                    <textarea disabled [placeholder]="this.loaded ? 'Special Accomadations' : 'None'" [value]="this.loaded ? this.userData.specialAccomadations : ''" class="form-control" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
