.content{
  padding-top:30px
}
.right-icon{
  float: right;
  padding-right: 1rem;
}
.left-icon{
  padding-left: 1rem;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.align-to-text  {
  margin-bottom: 1rem;
}
@media (min-width: 576px) {
  .align-to-text{
    margin-top: 0.5rem;
    padding-top: 1.5rem;
  }
}
